@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
}

body {
  font-family: var(--font-poppins);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }

  .radix-scroll-lock {
    overflow: auto !important;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #7e69ab, #9f8cfd, #7e69ab);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
}

.group:hover .shine-effect::after {
  animation: shine 0.75s forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
